[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-transcript-api = "*"
beautifulsoup4 = "*"
google-generativeai = "*"
fastapi = {extras = ["standard"], version = "*"}
python-multipart = "*"
uvicore = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
